<%= render partial: "partials/header" %>

<div class="d-flex align-items-center justify-content-center" style="height: 100vh; mx-auto">
  
    <h1 class="fs-1 text-primary">Welcome to My <span class="text-danger">LIBRARY MANAGEMENT PROJECT</span> </h1>
   
</div>